{
  "Log": {
    "Level": "{{ v2bx_log_level }}",
    "Output": ""
  },
  "Cores": [
    {
      "Type": "{{ v2bx_core }}",
      "Name": "{{ v2bx_core }}_core",
      "Listen": ":{{ v2bx_listen_port }}",
      "GeoIp": "{{ v2bx_install_dir }}/geoip.dat",
      "GeoSite": "{{ v2bx_install_dir }}/geosite.dat"
    }
  ],
  "Nodes": [
    {
      "Core": "{{ v2bx_core }}_core",
      "ApiHost": "{{ v2bx_api_host }}",
      "AutoRegister": {{ v2bx_auto_register | lower }},
      "AuthKey": "{{ v2bx_auth_key }}",
      "NodeName": "{{ v2bx_node_name }}",
      "NodeType": "{{ v2bx_node_type }}",
      "Listen": ":{{ v2bx_listen_port }}",
      "Transport": "{{ v2bx_transport }}",
      "CredentialFile": "{{ v2bx_credential_file }}",
      "HeartbeatInterval": {{ v2bx_heartbeat_interval }},
      "EnableSign": {{ v2bx_enable_sign | lower }},
      "EncryptCredential": {{ v2bx_encrypt_credential | lower }},
      "CertConfig": {
        "CertMode": "{{ v2bx_cert_mode }}",
        "CertDomain": "{{ v2bx_cert_domain }}",
        "Provider": "cloudflare"
      }
    }
  ]
}